In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv(r"C:\Users\Others\Desktop\Sai Fldr\datasets\bikebuyer1.csv")

In [6]:
data.head()

,ID,Marital Status,Gender,Yearly Income,Children,Education,Occupation,Home Owner,Cars,Commute Distance,Region,Age,Bike Buyer
0,22711.0,Single,Male,30000,0.0,Partial College,Clerical,No,1,1.0,Europe,33,Yes
1,13555.0,Married,Female,40000,0.0,Graduate Degree,Clerical,Yes,0,1.0,Europe,37,Yes
2,NaN,Married,Male,160000,5.0,Partial College,Professional,No,3,2.0,Europe,55,No
3,2.0,Single,Male,160000,0.0,Graduate Degree,Management,Yes,2,5.0,Pacific,47,No
4,25410.0,NaN,Female,70000,2.0,Bachelors,Skilled Manual,No,1,1.0,North America,38,Yes

In [4]:
data.isnull().any()

ID                   True
Marital Status       True
Gender               True
Yearly Income       False
Children             True
Education           False
Occupation          False
Home Owner          False
Cars                False
Commute Distance     True
Region              False
Age                 False
Bike Buyer          False
dtype: bool

In [5]:
data.isnull().sum()

ID                   1
Marital Status      16
Gender              29
Yearly Income        0
Children            18
Education            0
Occupation           0
Home Owner           0
Cars                 0
Commute Distance    29
Region               0
Age                  0
Bike Buyer           0
dtype: int64

In [18]:
data["ID"].fillna(data["ID"].mean(),inplace= True)
data["Commute Distance"].fillna(data["Commute Distance"].mean(),inplace= True)
data["Children"].fillna(data["Children"].mean(),inplace= True)

To encode Male to 0 and Female to 1
To encode Single to 0 and Married to 1

In [35]:
data.loc[data["Gender"] == "Male","Gender"] = 0
data.loc[data["Gender"] == "Female","Gender"] = 1
data.loc[data["Marital Status"] == "Single","Marital Status"] = 0
data.loc[data["Marital Status"] == "Married","Marital Status"] = 1

C:\Users\Others\Anaconda3\lib\site-packages\pandas\core\ops.py:1649: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)

In [36]:
data["Marital Status"].fillna(data["Marital Status"].mean(),inplace= True)
data["Gender"].fillna(data["Gender"].mean(),inplace= True)

In [37]:
data.isnull().any()

ID                  False
Marital Status      False
Gender              False
Yearly Income       False
Children            False
Education           False
Occupation          False
Home Owner          False
Cars                False
Commute Distance    False
Region              False
Age                 False
Bike Buyer          False
dtype: bool

In [39]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
data["Education"] = le.fit_transform(data["Education"])
data["Occupation"] = le.fit_transform(data["Occupation"])
data["Home Owner"] = le.fit_transform(data["Home Owner"])
data["Region"] = le.fit_transform(data["Region"])
data["Bike Buyer"] = le.fit_transform(data["Bike Buyer"])

In [40]:
data.head()

,ID,Marital Status,Gender,Yearly Income,Children,Education,Occupation,Home Owner,Cars,Commute Distance,Region,Age,Bike Buyer
0,22711.000000,0.000000,0.0,30000,0.0,3,0,0,1,1.0,0,33,1
1,13555.000000,1.000000,1.0,40000,0.0,1,0,1,0,1.0,0,37,1
2,17744.435249,1.000000,0.0,160000,5.0,3,3,0,3,2.0,0,55,0
3,2.000000,0.000000,0.0,160000,0.0,1,1,1,2,5.0,2,47,0
4,25410.000000,0.592036,1.0,70000,2.0,0,4,0,1,1.0,1,38,1

In [41]:
x=data.iloc[:,0:12].values
y=data.iloc[:,12].values

In [56]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [57]:
from sklearn.linear_model import LogisticRegression
log=LogisticRegression()
log.fit(x_train,y_train)

C:\Users\Others\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [58]:
ypred=log.predict(x_test)

In [59]:
ypred

array([0, 0, 0, ..., 0, 0, 0])

In [60]:
y_test

array([0, 0, 0, ..., 0, 0, 0])

In [61]:
from sklearn.metrics import accuracy_score
accuracy = accuracy_score(ypred,y_test)

In [62]:
accuracy

0.86